venv/
__pycache__/
dataset/
HAM10000_images_part_1/
HAM10000_images_part_2/
hmnist_28_28_RGB.csv
hmnist_8_8_L.csv

HAM10000_metadata.csv
hmnist_28_28_L.csv
hmnist_8_8_RGB.csv
hmnist_28_28_L.csv
hmnist_8_8_RGB.csv

static/uploads/
static/reports/

*.keras
*.h5
*.pt
*.pth
*.ckpt
*.zip
*.rar
*.7z
.env